@model GetPasswordModel


<form id="getPasswordForm" asp-action="GetPassword" asp-controller="VkService">

    <label class="col-form-label">Введите email</label>
    <br />
    <input class="form-control" asp-for="Email" />
    <input type="submit" id="submit" class="btn btn-primary mt-2" value="Отправить" />

</form>



<script type="text/javascript">

    //var btn = document.getElementById("submit");

    //btn.addEventListener("click", function (event) {
    //    event.preventDefault();
    //    submit()
    //});

    //function submit() {


    //    var data = $("#getPasswordForm").serialize();

    //    console.log(data);
    //    $.ajax({
    //        type: 'POST',
    //        url: '/VkService/GetPassword',
    //        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
    //        data: data,
    //        success: function (result) {

    //            alert(result);
    //            console.log(result);
    //        },
    //        error: function () {
    //            alert('Failed to receive the Data');
    //            console.log('Failed ');
    //        }
    //    })
    //}

</script>