@model RegisterViewModel

<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="form-label" asp-for="Email"></label><br />
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="form-label" asp-for="PasswordConfirm"></label><br />
        <input class="form-control" asp-for="PasswordConfirm" />
        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <br />
        <input class="btn btn-primary" type="submit" value="Регистрация" />
    </div>
</form>