@model RegisterViewModel
<div class="question-create-title">
    <h1>РЕГИСТРАЦИЯ</h1>
</div>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="form-label" asp-for="Email"></label><br />
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="form-label" asp-for="PasswordConfirm"></label><br />
        <input class="form-control" asp-for="PasswordConfirm" />
        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
    </div>

    <br />
    <div>
        <input class="login-btn custom-alert-btn-ok" type="submit" value="Регистрация" id="login_btn" />
    </div>

</form>