@model Option


<div class="option">
    <div class="list-group">

        <div class="list-group-item">@Model.NumVar Вариант</div>

        @{ foreach (var question in Model.Questions)
            {
                @await Html.PartialAsync("EditQuestion", question);
                <hr />

            }
        }

    </div>
</div>

<script src="~/js/editQuestion.js" type="text/javascript"></script>



