<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test_OP_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pie.css" />
    <link rel="stylesheet" href="~/css/editOption.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="nav-container">

                <div class="nav-items">
                    <div class="nav-item1 nav-item-main">
                        <div class="nav-main-text">
                            <a class="nav-link active text-dark" asp-controller="Session" asp-action="Index">Главная</a>
                        </div>

                        <div class="nav-show-btn" onclick="burgerMenu(this)">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>

                        </div>
                    </div>

                    <div class="nav-item1">
                        <a class="nav-link active text-dark" asp-controller="Session" asp-action="CreateSession">Новый вариант</a>
                    </div>


                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="nav-item1 nav-link active nav-item-username">
                            <a asp-controller="Session" asp-action="Stat">@User.Identity.Name</a>
                        </div>

                        <div class="nav-item1 nav-item-logout">
                            <a class="nav-link active text-dark" asp-controller="Account" asp-action="Logout">Выход</a>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item1 m-1">
                            <a class="nav-link active text-dark" asp-controller="Account" asp-action="Login">Вход</a>
                        </div>
                        <div class="nav-item1 m-1">
                            <a class="nav-link active text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </div>
                    }
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Test_OP_Web SmallAxe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
