<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FireTests</title>
    <link rel="icon" href="~/img/logoFT.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pie.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editOption.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/createVar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/session.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/background.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/question.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css"  />
</head>
<body>
    <header>
        <div class="nav-items">

            <a class="nav-item1 nav-gun" asp-controller="" asp-action="">

            </a>

            @if (User.IsInRole("admin"))
            {
                <div class="nav-item1 nav-link active nav-item-username">
                    <a asp-controller="Admin" asp-action="Index">ADMIN</a>
                </div>

                <div class="nav-item1 nav-link active nav-item-username">
                    <a asp-controller="Reports" asp-action="Index">Reports</a>
                </div>
            }
            <div class="nav-item1 nav-right">

                <a class="nav-user" asp-controller="Session" asp-action="CreateSession">

                </a>

                <a class="nav-logout" asp-controller="Account" asp-action="Logout">

                </a>

            </div>

        </div>
    </header>
    <div class="background">
        <div class="background-item background-left">
            @* <img id="background-left" src="/img/background_left.svg" alt="background_left" /> *@
        </div>
        <div class="background-item container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div class="background-item background-right">
            @* <img id="background-right" src="/img//background_right.svg" alt="background_right" /> *@
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div id="footer" class="container">
            &copy; @DateTime.Now.Year - FT  SmallAxe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
