/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    /*text-align: center;*/
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.nav-container {
    max-height: 50px;
    overflow: hidden;
    width: 100%;
    transition: .5s linear;
}

.nav-items {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    transition: .5s linear;
    font-size: 20px;
}

.nav-item-main {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: start;
}

.nav-main-text {
    min-width: 300px;
    max-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav-show-btn {
    cursor: pointer;
    max-width: 0;
    overflow: hidden;
    /*width: 36px;*/
    margin: 3px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



.nav-container-active {
    max-height: none;
}

@media screen and (max-width: 600px) {
    .nav-items {
        flex-direction: column;
        justify-content: center;
    }

    .nav-container {
        overflow: hidden;
    }

    .nav-show-btn {
        max-width: none;
    }
}


.nav-item1 {
    /*border: gray solid 1px;*/
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s linear;
}

    .nav-item1:hover {
        background-color: #E9E9E9;
    }






.pie {
    margin-right: auto;
    width: 100%;
}

.new-pie {
    width: 100%;
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}

.info-item {
    /*min-width: 300px;*/
    width: 100%;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0062cc;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
    color: white;
    transition: .2s linear;
}

    .info-item:hover {
        /*box-shadow: 15px 0 0 3px white inset;*/
        box-shadow: 0 0 0 2px #0062cc inset, 0 0 0 4px white inset;
    }

.info-item-title {
    color: rgb(194,197,78);
    font-size: 18px;
    font-weight: bold;
}

.info-item-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: baseline;
}

.info-item-text {
    margin: 2px;
}

@media screen and (max-width: 1200px) {
    .info-container {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;
    }

    .info-item {
        margin-top: 30px;
    }
}


/*Question region*/

.question-item {
    /* margin: 3px;*/
}

    .question-item p {
        vertical-align: middle;
    }

.question-anwser {
    /* border: solid black 0.5px;*/
    padding: 1% 0% 0 1%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0,0,0,0.5); /* Параметры тени */
    /*border: 1px solid gray;*/
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .question-anwser:hover {
        /*border: 1px solid #0062cc;*/
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    }

.question-right {
    width: 96%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    padding: 0% 0% 0 1%;
    font-weight: 200;
    font-size: 14px;
}

.question-anwser-true-div {
    border: 0.1px solid limegreen;
}

.question-anwser-false-div {
    border: 0.1px solid orangered;
}

.question-anwser-true {
    color: limegreen;
}

.question-anwser-false {
    color: orangered;
}

/*Question in form region*/

.question {
    text-align: left;
    cursor: pointer;
    margin: 10px;
}

.question-input {
    visibility: hidden;
}


.prev-next-btns {
    display: flex;
    flex-direction: column-reverse;
}


.question-btn {
    margin: 3px;
}

.complete-session-btn {
}

.show-comlete-sessions-btn {
    display: flex;
    flex-direction: column;
}




.question-details {
}

.createReport {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#logo {
    max-width: 32px;
    max-height: 32px;
    margin-right: 10px;
    /*  margin-top:-2px;*/
    margin-left: 5px;
    border-radius: 100px;
}

.select-num-var {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
}

.warning {
    width: 32px;
    height: 32px;
}

    .warning:hover {
        background: darken(@button-colour, 10%);
    }



.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        appearance: none; /* Скрываем стандартный внешний вид */
        padding: 5px;
        border: 1px solid #ccc;
        width: 200px;
        max-height: 100px; /* Здесь можно ограничить высоту */
        overflow-y: auto; /* Добавляем вертикальную прокрутку при необходимости */
    }

        .custom-select select option {
            padding: 5px;
        }

    /* Стилизация стрелочки выпадающего списка */
    .custom-select::after {
        content: "\25BC"; /* Unicode символ стрелки вниз */
        position: absolute;
        top: 8px;
        right: 10px;
    }