<div class="start">
    <div class="start-item start-text">
        <h3>Решай тесты</h3>
        <h1 class="font-kulag">ПО ОГНЕВОЙ </h1>
        <h1 class="font-kulag text-lg-left">ПОДГОТОВКЕ</h1>
        <a asp-controller="Session" asp-action="CreateSession">
            <div class="start-btn">Решать</div>
        </a>
    </div>

    <div class="start-item start-image-div">


        @* <div class="start-image">
        </div> *@
        <img class="start-image" id="start-image" src="/img/start.svg" alt="start" />
    </div>
</div>