@model SessionQuestion

@{
    Layout = null;
}

<div class="accordion-item">
    <div class="question-item question-string">
        <p>
            Вопрос @Model.Question.NumQ: @Model.Question.QuestionString
        </p>
    </div>

    <div class="question-item question-right">
        @{
            foreach (var answer in Model.Question.Anwsers.Where(x => x.Right))
            {
                <p>@answer.Text</p>
            }
        }
    </div>
    <hr />
        
</div>

<script asp-asp-append-version="true" type="text/javascript">




</script>